<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <img src="/img/robot.png" alt="Picture of a robot">
        <p>Created by {{name}}</p>
</body>

</html>