<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather_mead.png" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Chadrick Hinds and uses data from darksky and mapbox.com</p>
        <img src="/img/robot.png" alt="Picture of a robot" class="portrait">
    </div>
    {{>footer}}
</body>

</html>